<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CogniPath</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='back/css/style_slide.css') }}">
  <script src="https://kit.fontawesome.com/823f594b7d.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- partial:index.partial.html -->

<div id="nav-bar">
  <input id="nav-toggle" type="checkbox"/>
  <div id="nav-header"><a id="nav-title" target="_blank"><i class="fas fa-brain"></i>CogniPath</a>
    <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
    <hr/>
  </div>
  <div id="nav-content">
    <div class="nav-button"><i class="fas fa-user"></i><a href="{{ url_for('profile') }}"><span>Profile</span></a></div>    <div class="nav-button"><i class="fas fa-face-laugh"></i><a href="{{ url_for('Emotions') }}"><span>Emotion Recognition</span></a></div>
    <div class="nav-button"><i class="fas fa-book"></i><span><a href="{{ url_for('Essay_correction') }}">Essay Correction</span></a></div>
    <div class="nav-button"><i class="fas fa-file-pen"></i><a href="{{ url_for('simplify') }}"><span>Text Simplification</span></a></div>
    <hr/>
   
    <div class="nav-button"><i class="fas fa-gem"></i><span>CogniPath Pro</span></div>
    <div id="nav-content-highlight"></div>
  </div>
  <input id="nav-footer-toggle" type="checkbox"/>
  <div id="nav-footer">
    <div id="nav-footer-heading">
      <div id="nav-footer-avatar"><img src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547"/></div>
      <div id="nav-footer-titlebox"><a id="nav-footer-title" href="https://codepen.io/uahnbu/pens/public" target="_blank">CogniPath</a><span id="nav-footer-subtitle">Student</span></div>
      <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
    </div>
    <div id="nav-footer-content">
      <Lorem>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</Lorem>
    </div>
  </div>
</div>
<div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
<!-- partial -->
  
</body>
</html>

