<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Essay Correction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='back/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='back/css/drag_and_drop.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='back/css/style_loading.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='back/css/text.css') }}">

</head>

<body>
    <h1>Essay Correction</h1>

    <div id="sidebar">
        {% include 'back_index.html' %}
    </div>
    <div id="loading-indicator" class="popup">
        <div class="popup-content">
            <div class="u-loading">
                <div class="u-loading__symbol">
                    <img src="../static/back/img/Logo_A2SV.svg">
                    
                </div>
            </div>
        </div>
    </div>  
    <form action="/generate_text" method="post" enctype="multipart/form-data" id="image-form">
        <label for="image">Upload a handwritten paragraph image:</label>
        <label class="btn display-inline">
            Select Or Drop An Image
            <input type="file" name="image" @change="onChange" accept="image/*" required>
        </label>
        <label for="num_lines">Number of Lines:</label>
        <input type="number" name="num_lines" placeholder="Number of Lines" required>
        <input type="submit" class="btn btn-primary" value="Generate Text">
    </form>

    {% if generated_text %}
    <div class="wrapper">
        <div class="margin">Generated Text : </div>

        <!-- Display generated_text in a textarea for editing -->
        <form action="/correct_text" method="post">
            <textarea id="user_input" name="user_input" class="text" rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px;">{{ generated_text }}</textarea>
            <input type="submit" class="button" value="Correct Text">
        </form>
    </div>
    {% endif %}

    {% if corrected_text %}
    <div class="wrapper">
        <div class="text-container scrollable-text">
            <div class="text">
               
                <p>{{ grade }}</p>
        
           
              
                <p>{{ grammar_errors }}</p>
           
           
               
                <p>{{ corrected_text }}</p>
            </div>
        </div>
    </div>
    
    {% endif %} 
    
    <script src="{{ url_for('static', filename='back/js/drag_and_drop.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        const form = document.getElementById("my-form");
        const loadingIndicator = document.getElementById("loading-indicator");
    
        form.addEventListener("submit", function (e) {
            e.preventDefault();
            loadingIndicator.style.display = "block";
            form.submit();
        });
    </script>
</body>
</html>
