<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CogniPath Authentication</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='auth/css/style_login.css') }}">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form id="signupForm" method="POST" action="">
                <h1>Create Account</h1>
                <input type="hidden" name="signup" value="1">  <!-- Hidden field to identify signin form -->
                <input type="hidden" name="id" id="id" class="form-control" required value="2">
                <input type="text" placeholder="Full Name" id="FullName" name="FullName" required>
                <input type="email" placeholder="Email" id="Email" name="Email" required>
                <input type="password" placeholder="Password" id="mdp" name="mdp" required>
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="" method="POST">
                <h1>Sign in</h1>
                <input type="hidden" name="signin" value="1">  <!-- Hidden field to identify signin form -->
                <input type="email" placeholder="Email" id="Email_login" name="Email_login" />
                <input type="password" placeholder="Password" id="mdp_login" name="mdp_login" />
                <a href="#">Forgot your password?</a>
                <button name="signinForm">Sign In</button>
            </form>
        </div>        
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Welcome to CogniPath, You interactive learning plateform</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='auth/js/controle_de_saisie.js') }}"></script>
</body>
</html>
